name: CI - Tests, Lint, Cache

on:
  push:
    branches: ['main']
  pull_request:
    branches: ['main']

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v6

    - name: Setup Python with pip cache
      uses: actions/setup-python@v4
      with:
        python-version: 3.12
        cache: 'pip'

    - name: Install dependencies
      run: uv sync --dev --locked

    - name: Install package in editable mode
      run: pip install -e src/

    - name: Lint code
      run: |
        pip install ruff
        ruff check src/

    - name: Run tests
      run: uv run pytest -v
